<?xml version="1.0"?>
<launch>



    <!-- Set arguments -->
    <arg name="left_is_green" default="True"/>
    <arg name="haut_niv" default="True"/>



    <param name="tof_topic" value="/TofsScan"/> <!--/SensorsScan pour la simu, /TofsScan pour le reel-->
    
    
    <!-- Including launch files -->
    <include file="$(find course_2023_pkg)/launch/lidar_navigation_reel.launch">
        <arg name="haut_niv" value="$(arg haut_niv)"/>

    </include>
    
    <!-- <include file="$(find course_2023_pkg)/launch/nav_tofs.launch" >
        <arg name="left_is_green" value="$(arg left_is_green)"/> -->
        
    <!-- </include> -->

    <!--<include file="$(find course_2023_pkg)/launch/dir_indicator_reel.launch" >
        <arg name="left_is_green" value="$(arg left_is_green)"/>
        
    </include>-->

    <!--<include file="$(find course_2023_pkg)/launch/demi_tour_reel_mae.launch" />-->

    <!-- Run nodes-->
    <node pkg="course_2023_pkg" type="marche_arriere.py" name="marche_arriere" output="screen" required="True"/>

    <!-- <node pkg="course_2023_pkg"  type="pub_tofs2dist.py" name="tof2dist" output="screen" required="True"/>
         -->


    <node pkg="course_2023_pkg" type="start_stop_control.py" name="start_stop_control" output="screen" required="True"/>

    <node pkg="course_2023_pkg" type="MAE.py" name="MAE" output="screen" required="True"/>
        
    <node pkg="course_2023_pkg" type="interface.py" name="interface" output="screen" required="True"/>


    <!--seuil passage de lidar a tofs-->
    <param name="tofs_lim_threshold" value="0.2"/>
    <param name="K_backwards" value="0.5"/>
    <param name="BACKWARD_SPEED" value="-0.3"/>
        
    

</launch>

