<?xml version="1.0"?>
<launch>



    <!-- Set arguments -->
    <arg name="left_is_green" default="False"/>
    <arg name="haut_niv" default="True"/>
    
    <!-- Including launch files -->
    <include file="$(find course_2023_pkg)/launch_nav/lidar_navigation.launch">
        <arg name="haut_niv" value="$(arg haut_niv)"/>

    </include>
    
    <include file="$(find course_2023_pkg)/launch_nav/nav_tofs.launch" >
        <arg name="left_is_green" value="$(arg left_is_green)"/>
        
    </include>

    <include file="$(find course_2023_pkg)/launch_dir/dir_indicator.launch" >
        <arg name="left_is_green" value="$(arg left_is_green)"/>
        
    </include>

    <include file="$(find course_2023_pkg)/launch_d_tour/demi_tour_simu_mae.launch" />

    <!-- Run nodes-->
    <node pkg="course_2023_pkg" type="start_stop_control.py" name="start_stop_control" output="screen" required="True"/>

    <node pkg="course_2023_pkg" type="MAE_simu_nav_tofs.py" name="MAE" output="screen" required="True"/>
        
    <node pkg="course_2023_pkg" type="interface_nav_tofs.py" name="interface" output="screen" required="True"/>


    <!--seuil passage de lidar a tofs-->
    <param name="tofs_lidar_threshold" value="1.0"/>
    

</launch>

