<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="left_is_green" default="True"/>


	<param name="rgb" value="0"/>
	<param name="reel" value="0"/>
	
	<param name="lim_haut" value="10"/>
	<param name="lim_bas" value="200"/>
	
	<param name="left_is_green" value="$(arg left_is_green)"/>

	

	<!-- Run nodes -->
	<node pkg="course_2023_pkg" type="dir_indicatorv2.py" name="dir_indicator" required="True" output="screen">
		
	</node>

	<node pkg="course_2023_pkg" type="plot_indicator.py" name="plot_indicator" required="True" output="screen" >
		
	</node>



</launch>