<?xml version="1.0"?>
<launch>

    <!-- Set parameters -->
    <param name="Stop" value="1"/>

    <!-- Including launch files -->
    <include file="$(find course_2023_pkg)/launch/lidar_navigation.launch"/>
    
    <include file="$(find course_2023_pkg)/launch/nav_tofs.launch" />
    <include file="$(find course_2023_pkg)/launch/dir_indicator.launch" />
    <include file="$(find course_2023_pkg)/launch/demi_tour_simu_mae.launch" />

    <!-- Run nodes-->
    <node pkg="course_2023_pkg" type="start_stop_control.py" name="start_stop_control" output="screen" required="True"/>


    <node pkg="course_2023_pkg" type="MAE.py" name="MAE" output="screen" required="True"/>
        
    <node pkg="course_2023_pkg" type="interface.py" name="interface" output="screen" required="True"/>
    <param name="haut_niv" value="True"/>

</launch>

