<?xml version="1.0"?>
<launch>

    <!-- Set parameters -->
    

    <!-- Including launch files -->
    <include file="$(find course_2023_pkg)/launch/lidar_navigation.launch"/>
    
    <include file="$(find course_2023_pkg)/launch/nav_tofs.launch" />

    <!-- Run nodes-->
    <node pkg="course_2023_pkg" type="dir_indicator.py" name="dir_indicator" required="True"/>
        
    <node pkg="course_2023_pkg" type="nav_haut_niveau.py" name="nav_haut_niveau" output="screen" required="True"/>

    <node pkg="course_2023_pkg" type="start_stop_control.py" name="start_stop_control" output="screen"/>

    <param name="haut_niv" value="True"/>

    <param name="ONLY_LIDAR" value="False"/>
    <param name="ONLY_TOFS" value="False"/>

</launch>

