<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="left_is_green" default="True"/>
	


	<param name="max_speed" value="0.7"/>
	<param name="backward_speed" value="0.5"/>
	<param name="min_speed" value="0.3"/>
	<param name="max_angle" value="1.0"/>
	<param name="tofs_default_max_dist"  value="1.5"/>
	<param name="min_dist"  value="0.15"/>
	<param name="recul_dist" value="0.5"/>
	<param name="tof_topic" value="/TofsScan"/>
	<param name="left_is_green" value="$(arg left_is_green)"/>
	

	

	<!-- Run nodes -->
	<node pkg="course_2023_pkg" type="pub_tofs2dist.py" name="pub_tofs2dist_nav" required="True"/>

	<node pkg="course_2023_pkg" type="nav_tofs.py" name="nav_tofs" output="screen" required="True">
		
	</node>

    <!--<node pkg="course_2023_pkg" type="plot_sensors.py" name="plot_sensors"/>-->

</launch>
